.dropdownTitle {
    margin-right: 10px;
    font-size: 20px;
}

.width-class {
    width: 12vw;
    min-width: 200px;
}

.eventCard {
    width: fit-content;
    margin: auto;
}

td {
    width: fit-content;
}

.cellHeading {
    width: fit-content;
    padding-right: 3%;
}

.headline1 {
    font-size: 20px;
}

.row-flex {
    margin-top: 10px;
}

.team2boxLeft {
    width: 50%;
}

.team2boxRight {
    width: 50%;
}

.team2flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}