table {
    width: 100%;
}

.deleteBanButton {
    color: white;
    background-color: red;
}

.formContainer {
    width: 250px;
    height: 60px;
}

.width-class {
    width: 12vw;
    min-width: 200px;
}

.headline1 {
    font-size: 20px;
}

.cellHeading {
    width: 200px;
    padding-right: 3%;
}

td {
    width: fit-content;
}

.banCard {
    padding-top: 20px;
    width: fit-content;
    margin: auto;
}