<div class="headline">Ausschlüsse verwalten</div>

<mat-tab-group animationDuration="200ms">
    <mat-tab label="Ausschluss hinzufügen">

        <form [formGroup]="addBanFormGroup">

            <mat-card class="banCard">

                <table class="content-table">

                    <tr>
                        <td class="cellHeading">
                            <p class="headline1">Person:</p>
                        </td>
                        <td>
                            <ng-container class="formContainer">
                                <mat-form-field>
                                    <mat-label>Person</mat-label>
                                    <mat-select formControlName="person">
                                        <mat-option *ngFor="let person of allUsers" [value]="person">{{person.gamertag}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                        </td>
                    </tr>

                    <tr>
                        <td class="cellHeading">
                            <p class="headline1">Grund:</p>
                        </td>
                        <td>
                            <ng-container class="formContainer">
                                <mat-form-field class="width-class">
                                    <mat-label>Grund</mat-label>
                                    <input maxlength="64" #message type="text" matInput formControlName="reason">
                                    <mat-hint align="end">{{message.value.length}} / 64</mat-hint>
                                </mat-form-field>
                            </ng-container>
                        </td>
                    </tr>

                    <tr>
                        <td class="cellHeading">
                            <p class="headline1">Permanent?:</p>
                        </td>
                        <td>
                            <ng-container class="formContainer">
                                <mat-slide-toggle formControlName="isPermanent">Permanent</mat-slide-toggle>
                            </ng-container>
                        </td>
                    </tr>

                    <tr *ngIf="!this.addBanFormGroup.get('isPermanent').value">
                        <td class="cellHeading" *ngIf="!this.addBanFormGroup.get('isPermanent').value">
                            <p class="headline1">Gebannt bis (Datum):</p>
                        </td>
                        <td *ngIf="!this.addBanFormGroup.get('isPermanent').value">
                            <ng-container class="formContainer">
                                <mat-form-field>
                                    <mat-label>Datum</mat-label>
                                    <input matInput [matDatepicker]="dp" formControlName="bannedUntilDate">
                                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                    <mat-datepicker #dp></mat-datepicker>
                                </mat-form-field>
                            </ng-container>
                        </td>
                    </tr>

                    <tr *ngIf="!this.addBanFormGroup.get('isPermanent').value">
                        <td class="cellHeading" *ngIf="!this.addBanFormGroup.get('isPermanent').value">
                            <p class="headline1">Gebannt bis (Zeit):</p>
                        </td>
                        <td *ngIf="!this.addBanFormGroup.get('isPermanent').value">
                            <ng-container class="formContainer">
                                <mat-form-field>
                                    <mat-label>Uhrzeit</mat-label>
                                    <input matTimepicker formControlName="bannedUntilTime">
                                </mat-form-field>
                            </ng-container>
                        </td>
                    </tr>

                </table>

                <button color="primary" *ngIf="addBanFormValid()" style="margin-top: 10px; width: 100%;"
                mat-raised-button (click)="banPerson()">Person bannen</button>

            </mat-card>
        </form>
    </mat-tab>

    <mat-tab label="Ausschlüsse verwalten">
        <table mat-table [dataSource]="actualBans">
            <ng-container matColumnDef="bannedPerson">
                <th mat-header-cell *matHeaderCellDef>Gebannte Person</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.bannedPerson.gamertag}}</td>
            </ng-container>
            <ng-container matColumnDef="bannedUntil">
                <th mat-header-cell *matHeaderCellDef>Gebannt bis</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{getBannedUntil(elem) !== 'Permanent' ?
                    (getBannedUntil(elem) | date: 'dd.MM.yyyy HH:mm') : getBannedUntil(elem)}}</td>
            </ng-container>
            <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef>Grund</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.reason}}</td>
            </ng-container>
            <ng-container matColumnDef="bannedFrom">
                <th mat-header-cell *matHeaderCellDef>Gebannt von</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.bannedFrom.gamertag}}</td>
            </ng-container>
            <ng-container matColumnDef="banTime">
                <th mat-header-cell *matHeaderCellDef>Bann-Zeit</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.banTime | date: 'dd.MM.yyyy HH:mm'}}</td>
            </ng-container>
            <ng-container matColumnDef="deleteButton">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let elem; let i = index"><button class="deleteBanButton"
                        (click)="deleteBan(elem,1,i)" mat-stroked-button>
                        <mat-icon>delete</mat-icon>
                    </button></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="getTableRows()"></tr>
            <tr mat-row *matRowDef="let row; columns: getTableRows()"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="9999">
                    No data matching the filter
                </td>
            </tr>
        </table>
    </mat-tab>

    <mat-tab label="Permanente Ausschlüsse">
        <table mat-table [dataSource]="permanentBans">
            <ng-container matColumnDef="bannedPerson">
                <th mat-header-cell *matHeaderCellDef>Gebannte Person</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.bannedPerson.gamertag}}</td>
            </ng-container>
            <ng-container matColumnDef="bannedUntil">
                <th mat-header-cell *matHeaderCellDef>Gebannt bis</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{getBannedUntil(elem) !== 'Permanent' ?
                    (getBannedUntil(elem) | date: 'dd.MM.yyyy HH:mm') : getBannedUntil(elem)}}</td>
            </ng-container>
            <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef>Grund</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.reason}}</td>
            </ng-container>
            <ng-container matColumnDef="bannedFrom">
                <th mat-header-cell *matHeaderCellDef>Gebannt von</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.bannedFrom.gamertag}}</td>
            </ng-container>
            <ng-container matColumnDef="banTime">
                <th mat-header-cell *matHeaderCellDef>Bann-Zeit</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.banTime | date: 'dd.MM.yyyy HH:mm'}}</td>
            </ng-container>
            <ng-container matColumnDef="deleteButton">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let elem; let i = index"><button class="deleteBanButton"
                        (click)="deleteBan(elem,2,i)" mat-stroked-button>
                        <mat-icon>delete</mat-icon>
                    </button></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="getTableRows()"></tr>
            <tr mat-row *matRowDef="let row; columns: getTableRows()"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="9999">
                    No data matching the filter
                </td>
            </tr>
        </table>
    </mat-tab>

    <mat-tab label="Abgelaufene Ausschlüsse">
        <table mat-table [dataSource]="expiredBans">
            <ng-container matColumnDef="bannedPerson">
                <th mat-header-cell *matHeaderCellDef>Gebannte Person</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.bannedPerson.gamertag}}</td>
            </ng-container>
            <ng-container matColumnDef="bannedUntil">
                <th mat-header-cell *matHeaderCellDef>Gebannt bis</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{getBannedUntil(elem) !== 'Permanent' ?
                    (getBannedUntil(elem) | date: 'dd.MM.yyyy HH:mm') : getBannedUntil(elem)}}</td>
            </ng-container>
            <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef>Grund</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.reason}}</td>
            </ng-container>
            <ng-container matColumnDef="bannedFrom">
                <th mat-header-cell *matHeaderCellDef>Gebannt von</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.bannedFrom.gamertag}}</td>
            </ng-container>
            <ng-container matColumnDef="banTime">
                <th mat-header-cell *matHeaderCellDef>Bann-Zeit</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.banTime | date: 'dd.MM.yyyy HH:mm'}}</td>
            </ng-container>
            <ng-container matColumnDef="deleteButton">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let elem; let i = index"><button class="deleteBanButton"
                        (click)="deleteBan(elem,3,i)" mat-stroked-button>
                        <mat-icon>delete</mat-icon>
                    </button></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="getTableRows()"></tr>
            <tr mat-row *matRowDef="let row; columns: getTableRows()"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="9999">
                    No data matching the filter
                </td>
            </tr>
        </table>
    </mat-tab>
</mat-tab-group>