<div class="headline">Benutzer verwalten</div>

<mat-tab-group animationDuration="200ms">
    <mat-tab label="Ausschlüsse verwalten">
        
    </mat-tab>

    <mat-tab label="Aktuelle Ausschlüsse">
        <table mat-table [dataSource]="actualBans">
            <ng-container matColumnDef="bannedPerson">
                <th mat-header-cell *matHeaderCellDef>Gebannte Person</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.bannedPerson.gamertag}}</td>
            </ng-container>
            <ng-container matColumnDef="bannedUntil">
                <th mat-header-cell *matHeaderCellDef>Gebannt bis</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{getBannedUntil(elem) !== 'Permanent' ? (getBannedUntil(elem) | date: 'dd.MM.yyyy HH:mm') : getBannedUntil(elem)}}</td>
            </ng-container>
            <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef>Grund</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.reason}}</td>
            </ng-container>
            <ng-container matColumnDef="bannedFrom">
                <th mat-header-cell *matHeaderCellDef>Gebannt von</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.bannedFrom.gamertag}}</td>
            </ng-container>
            <ng-container matColumnDef="banTime">
                <th mat-header-cell *matHeaderCellDef>Bann-Zeit</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.banTime | date: 'dd.MM.yyyy HH:mm'}}</td>
            </ng-container>
            <ng-container matColumnDef="deleteButton">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let elem; let i = index"><button class="deleteBanButton" (click)="deleteBan(elem,1,i)" mat-stroked-button><mat-icon>delete</mat-icon></button></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="getTableRows()"></tr>
            <tr mat-row *matRowDef="let row; columns: getTableRows()"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="9999">
                    No data matching the filter
                </td>
            </tr>
        </table>
    </mat-tab>

    <mat-tab label="Permanente Ausschlüsse">
        <table mat-table [dataSource]="permanentBans">
            <ng-container matColumnDef="bannedPerson">
                <th mat-header-cell *matHeaderCellDef>Gebannte Person</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.bannedPerson.gamertag}}</td>
            </ng-container>
            <ng-container matColumnDef="bannedUntil">
                <th mat-header-cell *matHeaderCellDef>Gebannt bis</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{getBannedUntil(elem) !== 'Permanent' ? (getBannedUntil(elem) | date: 'dd.MM.yyyy HH:mm') : getBannedUntil(elem)}}</td>
            </ng-container>
            <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef>Grund</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.reason}}</td>
            </ng-container>
            <ng-container matColumnDef="bannedFrom">
                <th mat-header-cell *matHeaderCellDef>Gebannt von</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.bannedFrom.gamertag}}</td>
            </ng-container>
            <ng-container matColumnDef="banTime">
                <th mat-header-cell *matHeaderCellDef>Bann-Zeit</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.banTime | date: 'dd.MM.yyyy HH:mm'}}</td>
            </ng-container>
            <ng-container matColumnDef="deleteButton">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let elem; let i = index"><button class="deleteBanButton" (click)="deleteBan(elem,2,i)" mat-stroked-button><mat-icon>delete</mat-icon></button></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="getTableRows()"></tr>
            <tr mat-row *matRowDef="let row; columns: getTableRows()"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="9999">
                    No data matching the filter
                </td>
            </tr>
        </table>
    </mat-tab>

    <mat-tab label="Abgelaufene Ausschlüsse">
        <table mat-table [dataSource]="expiredBans">
            <ng-container matColumnDef="bannedPerson">
                <th mat-header-cell *matHeaderCellDef>Gebannte Person</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.bannedPerson.gamertag}}</td>
            </ng-container>
            <ng-container matColumnDef="bannedUntil">
                <th mat-header-cell *matHeaderCellDef>Gebannt bis</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{getBannedUntil(elem) !== 'Permanent' ? (getBannedUntil(elem) | date: 'dd.MM.yyyy HH:mm') : getBannedUntil(elem)}}</td>
            </ng-container>
            <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef>Grund</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.reason}}</td>
            </ng-container>
            <ng-container matColumnDef="bannedFrom">
                <th mat-header-cell *matHeaderCellDef>Gebannt von</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.bannedFrom.gamertag}}</td>
            </ng-container>
            <ng-container matColumnDef="banTime">
                <th mat-header-cell *matHeaderCellDef>Bann-Zeit</th>
                <td mat-cell *matCellDef="let elem; let i = index">{{elem.banTime | date: 'dd.MM.yyyy HH:mm'}}</td>
            </ng-container>
            <ng-container matColumnDef="deleteButton">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let elem; let i = index"><button class="deleteBanButton" (click)="deleteBan(elem,3,i)" mat-stroked-button><mat-icon>delete</mat-icon></button></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="getTableRows()"></tr>
            <tr mat-row *matRowDef="let row; columns: getTableRows()"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="9999">
                    No data matching the filter
                </td>
            </tr>
        </table>
    </mat-tab>
</mat-tab-group>